<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    Here is login page!
    put down your ID and PW below!
    <div>
    </div>
    <form action="#" >
      <div>
        名前:<input type="text" name="id">
      </div>
      <div>
        PW:<input type="text" name="pw">
      </div>
      <input type="submit" name="sbtn" value="login">
    </form>

    <p><%=link_to "back",top_top_page_path %></p>
  </body>
</html>
