<html>
  <head>
    <meta charset="utf-8">
    <h2 class="heading1-pt1">新規登録</h2>
  </head>
  <body>
    <form action="sighnup" method="post">
    <input name="authenticity_token" type="hidden" value="1234" />
      名前：<input type="text" name="name"  size="80">　<br><br>
      E-mail：<input type="text" name="mail"  size="80">  <br><br>
      パスワード：<input type="text" name="password" size="80">  <br><br>

        <input type="submit" value=送信する>
    </form>





  </body>
</html>
